
@{
    ViewData["Title"] = "Confirmation";
}
<div class="parallax_scrolling">
    <div class="dark_background">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
                <div class="oxygen">
                    <h1>Project Pastel</h1>
                    <h2>Confirmation</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<h2 style="text-align:center;">Your Group Preferences Have Successfully Been Submitted</h2>

<br />
<p style="text-align:center">
    <a asp-action="Index" asp-controller="Home" class="btn btn-default">Back to Home Page</a>
</p>





