@model ProjectPastelV2.Models.Preference

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Preference</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PreferenceId" />
            <div class="form-group">
                <label asp-for="PreferenceDate" class="control-label"></label>
                <input asp-for="PreferenceDate" class="form-control" />
                <span asp-validation-for="PreferenceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupName" class="control-label"></label>
                <input asp-for="GroupName" class="form-control" />
                <span asp-validation-for="GroupName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preference1" class="control-label"></label>
                <input asp-for="Preference1" class="form-control" />
                <span asp-validation-for="Preference1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preference2" class="control-label"></label>
                <input asp-for="Preference2" class="form-control" />
                <span asp-validation-for="Preference2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preference3" class="control-label"></label>
                <input asp-for="Preference3" class="form-control" />
                <span asp-validation-for="Preference3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

